.background{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50px;
    position: absolute;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    opacity: 20%;
    z-index: -1;
    @media (max-width: $md_max){
        border-radius: 20px !important;
    }
    @media (max-width: $xs_max){
        border-radius: 10px !important;
    }
}
.background-overlay{
    background-image: url(../images/patt.jpg);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 50px;
    background-blend-mode: multiply;
    background-position: 50%;
    opacity: 15%;
    z-index: -1;
      @media (max-width: $md_max){
        border-radius: 20px !important;
      }
      @media (max-width: $xs_max){
        border-radius: 10px !important;
      }
}
.background-overlay-primary{
    background-image: url(../images/patt.jpg);
    background-color: $primary_color;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 50px;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    opacity: 30%;
    z-index: -1;
      @media (max-width: $md_max){
        border-radius: 20px !important;
      }
      @media (max-width: $xs_max){
        border-radius: 10px !important;
      }
}
.background-overlay-service{
    background-image: url(../images/patt.jpg);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 50px;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    opacity: 10%;
    z-index: -1;
      @media (max-width: $md_max){
        border-radius: 20px !important;
      }
      @media (max-width: $xs_max){
        border-radius: 10px !important;
      }
}
.background-overlay-grid{
    background-image: url(../images/patt.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    opacity: 25%;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 30px;
    z-index: 1;
    @media (max-width: $md_max){
        border-radius: 20px !important;
      }
      @media (max-width: $xs_max){
        border-radius: 10px !important;
      }
}
.background-overlay-2{
    background-image: url(../images/patt.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    opacity: 25%;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    @media (max-width: $md_max){
        border-radius: 20px !important;
      }
      @media (max-width: $xs_max){
        border-radius: 10px !important;
      }
}

.line-top{
    &::before{
        content: "";
        display: block;
        width: 100px;
        height: 9px;
        position: absolute;
        background-color: $primary_color;
        z-index: 1;
        left: 83px;
    }
}

.line-bottom{
    &::before{
        content: "";
        display: block;
        width: 0;
        height: 2px;
        position: absolute;
        background-color: $primary_color;
        z-index: 1;
        bottom: 0;
        @include transition(width .8s cubic-bezier(0.35, .7, .35, 1));
    }
    &:hover{
        &::before{
            width: 100%;
        }
    }
}

.half-line-left{
    position: relative;
    &::after{
        content: '';
        display: block;
        position: absolute;
        width: 50%;
        height: 24px;
        background-color: $primary_color;
        bottom: 0;
        left: 0;
        transform: translateY(50%);
        z-index: 99;
    }
}

.half-line-right{
    position: relative;
    &::after{
        content: '';
        display: block;
        position: absolute;
        width: 50%;
        height: 24px;
        background-color: $primary_color;
        bottom: 0;
        right: 0;
        transform: translateY(50%);
        z-index: 99;
    }
}

//Slider Revolution

.hidden-menu{
    @media (max-width: $xxl_max){
        display: none;
    }
    transition: all 400ms linear 0s;
}
.stickyHeader {
    opacity: 0;
    visibility: visible !important;
}

.hidden-on-laptop{
    @media (max-width: $lg_max){
        display: none !important;
    }
}

.background-slider{
    rs-layer{
        border-bottom-right-radius: 320px;
        @media (max-width: $lg_max){
            border-bottom-right-radius: 240px;
        }
        @media (max-width: $md_max){
            border-bottom-right-radius: 160px;
        }
        @media (max-width: $sm_max){
            border-bottom-right-radius: 0;
        }
    }
}   

.position-line{
    span{
        &::after{
            content: "";
            display: block;
            height: 1px;
            width: 71px;
            background-color: $primary_color;
            position: absolute;
            left: -90px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.position-line-2{
    span{
        &::before{
            content: "";
            display: block;
            height: 1px;
            width: 89px;
            background-color: $primary_color;
            position: absolute;
            left: 118px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.circle-white{
    animation: spin 10s linear infinite;
    @media (max-width: $sm_max){
        animation: unset;
        transform: rotate(180deg);
      }
}

.circle-black{
    animation: spin-reverse 10s linear infinite;
    @media (max-width: $sm_max){
        animation: unset;
      }
}

